In [3]:
import pypower.api as pypower
import pypsa
import matlab.engine
import os, sys
import pandas as pd
import sqlite3
sys.path.append('../source') # add to Python Path
import wec_grid_class as wg  #import our program

    Sets PSSE environment to latest minor version among installed versions of PSSE 35.
    Use psse35.set_minor(n) to set PSSE35 minor version (n) to use.
        Example, for PSSE 35.0.x, use this as: psse35.set_minor(0)

In [4]:
case24 = r"../grid_models/RTS96DYN/IEEE_24_bus.RAW" # IEEE RTS 96 - 24 bus case
wec_buses = [21, 22, 23]
WecObj = wg.Wec_grid(case24, wec_buses) # initialize Object.. reads file ... finds a steady state
WecObj.initalize_psse("fnsl")

TypeError: __init__() takes 2 positional arguments but 3 were given

In [3]:
WecObj.clear_database()

In [3]:
WecObj.psse_dataframe

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,138.0,1.000000,0.000000,3,35.930069,180.488586,NaN,NaN,35.930069,180.488586
1,2,BUS 2,138.0,0.997822,0.010373,2,67.000000,0.000000,97.0,20.000000,-30.000000,-20.000000
2,3,BUS 3,138.0,0.863703,10.755864,1,NaN,NaN,90.0,19.000000,-90.000000,-19.000000
3,4,BUS 4,138.0,0.887014,-0.415208,1,NaN,NaN,74.0,15.000001,-74.000000,-15.000001
4,5,BUS 5,138.0,0.927217,-0.229420,1,NaN,NaN,71.0,14.000000,-71.000000,-14.000000
5,6,BUS 6,138.0,0.907952,0.391817,1,NaN,NaN,68.0,14.000000,-68.000000,-14.000000
6,7,BUS 7,138.0,0.796234,-0.580059,2,64.000000,0.000000,62.0,13.000000,2.000000,-13.000000
7,8,BUS 8,230.0,0.805368,-0.868408,1,NaN,NaN,85.0,18.000000,-85.000000,-18.000000
8,9,BUS 9,138.0,0.834940,4.989085,1,NaN,NaN,175.0,36.000000,-175.000000,-36.000000
9,10,BUS 10,138.0,0.881702,3.723669,1,NaN,NaN,100.0,23.000000,-100.000000,-23.000000
10,11,BUS 11,230.0,0.836073,12.640563,1,NaN,NaN,NaN,NaN,NaN,NaN
11,12,BUS 12,230.0,0.839763,11.783456,1,NaN,NaN,NaN,NaN,NaN,NaN
12,13,BUS 13,230.0,0.836927,15.450583,2,200.000000,0.000000,130.0,27.000002,70.000000,-27.000002
13,14,BUS 14,230.0,0.836423,18.757851,2,0.000000,0.000000,92.0,20.000000,-92.000000,-20.000000
14,15,BUS 15,230.0,0.885209,33.212997,2,274.000000,0.000000,158.0,32.000000,116.000000,-32.000000
15,16,BUS 16,230.0,0.862146,27.084261,2,245.000000,0.000000,100.0,20.000000,145.000000,-20.000000
16,17,BUS 17,230.0,0.895736,32.061146,1,NaN,NaN,NaN,NaN,NaN,NaN
17,18,BUS 18,230.0,0.901057,33.899288,2,144.000000,0.000000,162.0,34.000000,-18.000000,-34.000000
18,19,BUS 19,230.0,0.851835,23.804094,1,NaN,NaN,90.0,18.000000,-90.000000,-18.000000
19,20,BUS 20,230.0,0.849352,22.331301,1,NaN,NaN,65.0,13.000000,-65.000000,-13.000000
20,21,BUS 21,230.0,0.911253,35.657959,2,294.000000,0.000000,NaN,NaN,294.000000,0.000000
21,22,BUS 22,230.0,1.000000,37.502068,2,150.000000,199.455856,NaN,NaN,150.000000,199.455856
22,23,BUS 23,230.0,0.849713,22.079517,2,200.000000,0.000000,NaN,NaN,200.000000,0.000000
23,24,BUS 24,230.0,0.854969,24.813110,1,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
WecObj.pull_wec_data()

In [5]:
WecObj.wec_data

{1:       time  ibus         pg   vs         pt   pb         qt         qb
 0      0.0   1.0   0.000000  1.0   0.000000  0.0   0.000000   0.000000
 1    450.0   1.0  20.483621  1.1  20.483621  0.0  56.346406 -56.346406
 2    750.0   1.0  14.053731  1.1  14.053731  0.0  58.319932 -58.319932
 3   1050.0   1.0  15.618039  1.1  15.618039  0.0  57.908907 -57.908907
 4   1350.0   1.0  17.846263  1.1  17.846263  0.0  57.261924 -57.261924
 5   1650.0   1.0  17.536943  1.1  17.536943  0.0  57.344539 -57.344539
 6   1950.0   1.0  21.389151  1.1  21.389151  0.0  55.999255 -55.999255
 7   2250.0   1.0  20.313376  1.1  20.313376  0.0  56.323648 -56.323648
 8   2550.0   1.0  17.470591  1.1  17.470591  0.0  57.386006 -57.386006
 9   2850.0   1.0  18.849965  1.1  18.849965  0.0  56.850784 -56.850784
 10  3150.0   1.0  15.449376  1.1  15.449376  0.0  57.927464 -57.927464
 11  3450.0   1.0  15.060449  1.1  15.060449  0.0  58.043390 -58.043390
 12  3750.0   1.0  22.455343  1.1  22.455343  0.0  55.616844 -55.616844
 13  4050.0   1.0  15.631438  1.1  15.631438  0.0  57.859410 -57.859410
 14  4350.0   1.0  15.966238  1.1  15.966238  0.0  57.819228 -57.819228
 15  4650.0   1.0  14.380365  1.1  14.380365  0.0  58.205811 -58.205811
 16  4950.0   1.0  14.933829  1.1  14.933829  0.0  58.092342 -58.092342
 17  5250.0   1.0  16.084282  1.1  16.084282  0.0  57.756027 -57.756027
 18  5550.0   1.0  15.943358  1.1  15.943358  0.0  57.836198 -57.836198
 19  5850.0   1.0  19.103975  1.1  19.103975  0.0  56.830353 -56.830353
 20  6150.0   1.0  12.448625  1.1  12.448625  0.0  58.662197 -58.662197
 21  6450.0   1.0  20.427022  1.1  20.427022  0.0  56.386311 -56.386311
 22  6750.0   1.0  16.994154  1.1  16.994154  0.0  57.509677 -57.509677
 23  7050.0   1.0  18.607728  1.1  18.607728  0.0  57.021655 -57.021655,
 2:       time  ibus         pg   vs         pt   pb         qt         qb
 0      0.0   1.0   0.000000  1.0   0.000000  0.0   0.000000   0.000000
 1    450.0   1.0  22.883475  1.1  22.883475  0.0  55.418821 -55.418821
 2    750.0   1.0  15.729731  1.1  15.729731  0.0  57.794517 -57.794517
 3   1050.0   1.0  17.820000  1.1  17.820000  0.0  57.258168 -57.258168
 4   1350.0   1.0  15.138584  1.1  15.138584  0.0  58.027163 -58.027163
 5   1650.0   1.0  17.916696  1.1  17.916696  0.0  57.220718 -57.220718
 6   1950.0   1.0  17.821909  1.1  17.821909  0.0  57.230590 -57.230590
 7   2250.0   1.0  18.454208  1.1  18.454208  0.0  57.047990 -57.047990
 8   2550.0   1.0  16.244281  1.1  16.244281  0.0  57.731685 -57.731685
 9   2850.0   1.0  15.930520  1.1  15.930520  0.0  57.828786 -57.828786
 10  3150.0   1.0  18.843064  1.1  18.843064  0.0  56.921393 -56.921393
 11  3450.0   1.0  14.916381  1.1  14.916381  0.0  58.085021 -58.085021
 12  3750.0   1.0  17.345958  1.1  17.345958  0.0  57.385995 -57.385995
 13  4050.0   1.0  14.067683  1.1  14.067683  0.0  58.269527 -58.269527
 14  4350.0   1.0  19.224958  1.1  19.224958  0.0  56.812303 -56.812303
 15  4650.0   1.0  19.801187  1.1  19.801187  0.0  56.585951 -56.585951
 16  4950.0   1.0  15.104266  1.1  15.104266  0.0  58.021787 -58.021787
 17  5250.0   1.0  17.714763  1.1  17.714763  0.0  57.288302 -57.288302
 18  5550.0   1.0  19.100638  1.1  19.100638  0.0  56.853132 -56.853132
 19  5850.0   1.0  24.243514  1.1  24.243514  0.0  54.794946 -54.794946
 20  6150.0   1.0  14.711828  1.1  14.711828  0.0  58.140065 -58.140065
 21  6450.0   1.0  13.113130  1.1  13.113130  0.0  58.532168 -58.532168
 22  6750.0   1.0  14.960881  1.1  14.960881  0.0  58.069469 -58.069469
 23  7050.0   1.0  16.866112  1.1  16.866112  0.0  57.559220 -57.559220,
 3:       time  ibus         pg   vs         pt   pb         qt         qb
 0      0.0   1.0   0.000000  1.0   0.000000  0.0   0.000000   0.000000
 1    450.0   1.0  19.432953  1.1  19.432953  0.0  56.756019 -56.756019
 2    750.0   1.0  17.112877  1.1  17.112877  0.0  57.496334 -57.496334
 3   1050.0   1.0  13.715242  1.1  13.715242  0.0  58.402025 -58.402025
 4   1350.0   1.0  14.352400  1.1  14.352400  0.0  58.236882 -58.236882
 5   1650.0   1.0  18.654331  1.1  18.654331  0.0  56.941948 -56.941948
 6   1950.0   1.0  19.364576  1.1  19.364576  0.0  56.748521 -56.748521
 7   2250.0   1.0  18.073173  1.1  18.073173  0.0  57.170768 -57.170768
 8   2550.0   1.0  20.288374  1.1  20.288374  0.0  56.435982 -56.435982
 9   2850.0   1.0  19.833149  1.1  19.833149  0.0  56.594301 -56.594301
 10  3150.0   1.0  17.508797  1.1  17.508797  0.0  57.357618 -57.357618
 11  3450.0   1.0  16.651239  1.1  16.651239  0.0  57.612684 -57.612684
 12  3750.0   1.0  14.515429  1.1  14.515429  0.0  58.172384 -58.172384
 13  4050.0   1.0  20.367239  1.1  20.367239  0.0  56.406741 -56.406741
 14  4350.0   1.0  22.044049  1.1  22.044049  0.0  55.701509 -55.701509
 15  4650.0   1.0  14.028203  1.1  14.028203  0.0  58.325849 -58.325849
 16  4950.0   1.0  16.775709  1.1  16.775709  0.0  57.586401 -57.586401
 17  5250.0   1.0  14.252114  1.1  14.252114  0.0  58.252004 -58.252004
 18  5550.0   1.0  18.336140  1.1  18.336140  0.0  57.089464 -57.089464
 19  5850.0   1.0  14.280568  1.1  14.280568  0.0  58.247091 -58.247091
 20  6150.0   1.0  17.242901  1.1  17.242901  0.0  57.434538 -57.434538
 21  6450.0   1.0  14.037892  1.1  14.037892  0.0  58.317787 -58.317787
 22  6750.0   1.0  18.217167  1.1  18.217167  0.0  57.067749 -57.067749
 23  7050.0   1.0  18.658307  1.1  18.658307  0.0  56.846825 -56.846825}

In [6]:
WecObj.MiGrid_to_db()

In [7]:
WecObj.pull_MiGrid()

In [8]:
WecObj.migrid_data

{'gen0PSet0Run0':                    time  gen_value
 0   2013-01-01 01:00:00  91.308000
 1   2013-01-01 01:05:00  84.434667
 2   2013-01-01 01:10:00  71.836667
 3   2013-01-01 01:15:00  58.786267
 4   2013-01-01 01:20:00  50.237467
 ..                  ...        ...
 68  2013-01-01 06:40:00  51.261000
 69  2013-01-01 06:45:00  56.070000
 70  2013-01-01 06:50:00  59.090000
 71  2013-01-01 06:55:00  59.027167
 72  2013-01-01 07:00:00  65.983667

 [73 rows x 2 columns],
 'gen1PSet0Run0':                    time  gen_value
 0   2013-01-01 01:00:00  91.308000
 1   2013-01-01 01:05:00  84.434667
 2   2013-01-01 01:10:00  71.836667
 3   2013-01-01 01:15:00  58.786267
 4   2013-01-01 01:20:00  50.237467
 ..                  ...        ...
 68  2013-01-01 06:40:00   0.000000
 69  2013-01-01 06:45:00   0.000000
 70  2013-01-01 06:50:00   0.000000
 71  2013-01-01 06:55:00   0.000000
 72  2013-01-01 07:00:00   0.000000

 [73 rows x 2 columns],
 'gen2PSet0Run0':                    time  gen_value
 0   2013-01-01 01:00:00   273.9240
 1   2013-01-01 01:05:00   253.3040
 2   2013-01-01 01:10:00   215.5100
 3   2013-01-01 01:15:00   176.3588
 4   2013-01-01 01:20:00   150.7124
 ..                  ...        ...
 68  2013-01-01 06:40:00   153.7830
 69  2013-01-01 06:45:00   168.2100
 70  2013-01-01 06:50:00   177.2700
 71  2013-01-01 06:55:00   177.0815
 72  2013-01-01 07:00:00   197.9510

 [73 rows x 2 columns],
 'wtg0PAvailSet0Run0':                    time   gen_value
 0   2013-01-01 01:00:00  396.000000
 1   2013-01-01 01:05:00  430.366667
 2   2013-01-01 01:10:00  500.433333
 3   2013-01-01 01:15:00  619.966667
 4   2013-01-01 01:20:00  702.300000
 ..                  ...         ...
 68  2013-01-01 06:40:00  695.700000
 69  2013-01-01 06:45:00  664.666667
 70  2013-01-01 06:50:00  627.666667
 71  2013-01-01 06:55:00  633.500000
 72  2013-01-01 07:00:00  594.866667

 [73 rows x 2 columns],
 'wtg0PSet0Run0':                    time   gen_value
 0   2013-01-01 01:00:00  396.000000
 1   2013-01-01 01:05:00  430.366667
 2   2013-01-01 01:10:00  493.356667
 3   2013-01-01 01:15:00  558.608667
 4   2013-01-01 01:20:00  601.352667
 ..                  ...         ...
 68  2013-01-01 06:40:00  647.496000
 69  2013-01-01 06:45:00  628.260000
 70  2013-01-01 06:50:00  616.180000
 71  2013-01-01 06:55:00  616.431333
 72  2013-01-01 07:00:00  588.605333

 [73 rows x 2 columns]}

In [9]:
WecObj.initalize_pypsa()

WARNING:pypsa.io:Warning: Note that when importing from PYPOWER, some PYPOWER features not supported: areas, gencosts, component status
WARNING:pypsa.io:Warning, some transformers have a tap ratio of 0., setting the tap ratio of these to 1.
INFO:pypsa.pf:Performing non-linear load-flow on AC sub-network SubNetwork 0 for snapshots Index(['03/10/2023 18:08:54'], dtype='object', name='snapshot')
INFO:pypsa.pf:Newton-Raphson solved in 4 iterations with error of 0.000000 in 0.046873 seconds

In [10]:
WecObj.compare()

          PU          P Load            Q Load
       pyPSA     PSSe  pyPSA   PSSe      pyPSA  PSSe
0   1.000000  1.00000    0.0    0.0   0.000000   0.0
1   0.997822  1.00000   97.0   97.0  20.000000  20.0
2   0.863703  0.86395   90.0   90.0  19.000000  19.0
3   0.887014  0.88721   74.0   74.0  15.000001  15.0
4   0.927217  0.92693   71.0   71.0  14.000000  14.0
5   0.907952  0.90837   68.0   68.0  14.000000  14.0
6   0.796234  1.00000   62.0   62.0  13.000000  13.0
7   0.805368  0.80581   85.0   85.0  18.000000  18.0
8   0.834940  0.83528  175.0  175.0  36.000000  36.0
9   0.881702  0.88216  100.0  100.0  23.000000  23.0
10  0.836073  0.83645    0.0    0.0   0.000000   0.0
11  0.839763  0.84016    0.0    0.0   0.000000   0.0
12  0.836927  1.00000  130.0  130.0  27.000002  27.0
13  0.836423  1.00000   92.0   92.0  20.000000  20.0
14  0.885209  1.00000  158.0  158.0  32.000000  32.0
15  0.862146  1.00000  100.0  100.0  20.000000  20.0
16  0.895736  0.89595    0.0    0.0   0.000000   0.0
17  0.901057  1.00000  162.0  162.0  34.000000  34.0
18  0.851835  0.85215   90.0   90.0  18.000000  18.0
19  0.849352  0.84969   65.0   65.0  13.000000  13.0
20  0.911253  1.00000    0.0    0.0   0.000000   0.0
21  1.000000  1.00000    0.0    0.0   0.000000   0.0
22  0.849713  1.00000    0.0    0.0   0.000000   0.0
23  0.854969  0.85521    0.0    0.0   0.000000   0.0

In [22]:
py = WecObj.pypsa_dataframe.copy()
py = py.reset_index(level=0, drop=True)
py_final = py.rename(columns={'Pd':"P Load", 'Qd':"Q Load", 'v_mag_pu_set':'PU'})[["PU","P Load", "Q Load"]].copy()
#py_final = py_final.fillna(0)

ps = WecObj.psse_dataframe.copy()
ps_final = ps[["PU", "P Load", "Q Load"]]
ps_final = ps_final.fillna(0)


ps_final.compare(py_final, keep_equal=True, keep_shape=True).rename(columns={'self': 'pyPSA', 'other': 'PSSe'})

          PU          P Load            Q Load
       pyPSA     PSSe  pyPSA   PSSe      pyPSA  PSSe
0   1.000000  1.00000    0.0    0.0   0.000000   0.0
1   0.997822  1.00000   97.0   97.0  20.000000  20.0
2   0.863703  0.86395   90.0   90.0  19.000000  19.0
3   0.887014  0.88721   74.0   74.0  15.000001  15.0
4   0.927217  0.92693   71.0   71.0  14.000000  14.0
5   0.907952  0.90837   68.0   68.0  14.000000  14.0
6   0.796234  1.00000   62.0   62.0  13.000000  13.0
7   0.805368  0.80581   85.0   85.0  18.000000  18.0
8   0.834940  0.83528  175.0  175.0  36.000000  36.0
9   0.881702  0.88216  100.0  100.0  23.000000  23.0
10  0.836073  0.83645    0.0    0.0   0.000000   0.0
11  0.839763  0.84016    0.0    0.0   0.000000   0.0
12  0.836927  1.00000  130.0  130.0  27.000002  27.0
13  0.836423  1.00000   92.0   92.0  20.000000  20.0
14  0.885209  1.00000  158.0  158.0  32.000000  32.0
15  0.862146  1.00000  100.0  100.0  20.000000  20.0
16  0.895736  0.89595    0.0    0.0   0.000000   0.0
17  0.901057  1.00000  162.0  162.0  34.000000  34.0
18  0.851835  0.85215   90.0   90.0  18.000000  18.0
19  0.849352  0.84969   65.0   65.0  13.000000  13.0
20  0.911253  1.00000    0.0    0.0   0.000000   0.0
21  1.000000  1.00000    0.0    0.0   0.000000   0.0
22  0.849713  1.00000    0.0    0.0   0.000000   0.0
23  0.854969  0.85521    0.0    0.0   0.000000   0.0

In [17]:
ps_final

          PU  P Load     Q Load
0   1.000000     0.0   0.000000
1   0.997822    97.0  20.000000
2   0.863703    90.0  19.000000
3   0.887014    74.0  15.000001
4   0.927217    71.0  14.000000
5   0.907952    68.0  14.000000
6   0.796234    62.0  13.000000
7   0.805368    85.0  18.000000
8   0.834940   175.0  36.000000
9   0.881702   100.0  23.000000
10  0.836073     0.0   0.000000
11  0.839763     0.0   0.000000
12  0.836927   130.0  27.000002
13  0.836423    92.0  20.000000
14  0.885209   158.0  32.000000
15  0.862146   100.0  20.000000
16  0.895736     0.0   0.000000
17  0.901057   162.0  34.000000
18  0.851835    90.0  18.000000
19  0.849352    65.0  13.000000
20  0.911253     0.0   0.000000
21  1.000000     0.0   0.000000
22  0.849713     0.0   0.000000
23  0.854969     0.0   0.000000

In [35]:
py_final

       PU  P Load  Q Load
0   1.060     0.0     0.0
1   1.045    21.7    12.7
2   1.021     2.4     1.2
3   1.012     7.6     1.6
4   1.010    94.2    19.0
5   1.010     0.0     0.0
6   1.002    22.8    10.9
7   1.010    30.0    30.0
8   1.051     0.0     0.0
9   1.045     5.8     2.0
10  1.082     0.0     0.0
11  1.057    11.2     7.5
12  1.071     0.0     0.0
13  1.042     6.2     1.6
14  1.038     8.2     2.5
15  1.045     3.5     1.8
16  1.040     9.0     5.8
17  1.028     3.2     0.9
18  1.026     9.5     3.4
19  1.030     2.2     0.7
20  1.033    17.5    11.2
21  1.033     0.0     0.0
22  1.027     3.2     1.6
23  1.021     8.7     6.7
24  1.017     0.0     0.0
25  1.000     3.5     2.3
26  1.023     0.0     0.0
27  1.007     0.0     0.0
28  1.003     2.4     0.9
29  0.992    10.6     1.9

In [34]:
ps_final

          PU  P Load     Q Load
0   1.000000     NaN        NaN
1   0.997822    97.0  20.000000
2   0.863703    90.0  19.000000
3   0.887014    74.0  15.000001
4   0.927217    71.0  14.000000
5   0.907952    68.0  14.000000
6   0.796234    62.0  13.000000
7   0.805368    85.0  18.000000
8   0.834940   175.0  36.000000
9   0.881702   100.0  23.000000
10  0.836073     NaN        NaN
11  0.839763     NaN        NaN
12  0.836927   130.0  27.000002
13  0.836423    92.0  20.000000
14  0.885209   158.0  32.000000
15  0.862146   100.0  20.000000
16  0.895736     NaN        NaN
17  0.901057   162.0  34.000000
18  0.851835    90.0  18.000000
19  0.849352    65.0  13.000000
20  0.911253     NaN        NaN
21  1.000000     NaN        NaN
22  0.849713     NaN        NaN
23  0.854969     NaN        NaN

In [11]:
WecObj.clear_database()

TypeError: clear_database() missing 1 required positional argument: 'wec'

In [20]:
temp = py_final[["PU", "P Load", "Q Load"]]
temp1 = ps_final[["PU", "P Load", "Q Load"]]

In [ ]:
py = WecObj.pypsa_dataframe.copy()
py = py.reset_index(level=0, drop=True)
py_final = py.rename(columns={'Pd':"P Load", 'Qd':"Q Load", 'v_mag_pu_set':'PU'})

ps = WecObj.psse_dataframe.copy()
ps_final = ps[["PU", "P Load", "Q Load"]]

In [ ]:
py_final[["PU", "P Load", "Q Load"]].reset_index()

In [ ]:
df1.compare(df2, align_axis=0).rename(index={'self': 'left', 'other': 'right'}, level=-1)

In [ ]:
py = WecObj.pypsa_dataframe.copy()
py = py.reset_index(level=0, drop=True)
py_final = py.rename(columns={'Pd':"P Load", 'Qd':"Q Load", 'v_mag_pu_set':'PU'})

ps = WecObj.psse_dataframe.copy()
ps_final = ps[["PU", "P Load", "Q Load"]]


ps_final[["PU", "P Load", "Q Load"]].compare(ps[["PU", "P Load", "Q Load"]], keep_shape=True, keep_equal=True).rename(columns={'self': 'pyPSA', 'other': 'PSSe'})

In [ ]:
ps_final[["PU", "P Load", "Q Load"]].compare

In [ ]:
py[["PU", "P Load", "Q Load"]]

In [ ]:
WecObj.migrid_warm_start()

In [ ]:
WecObj.wec_data[3]

In [ ]:
WecObj._psse_ac_injection([20, 20, 20],[1.1, 1.1, 1.1], "fnsl",0)

In [ ]:


generator_buses = WecObj.psse_dataframe[WecObj.psse_dataframe["Type"] == 2]
for bus in generator_buses.BUS_ID:
    if bus not in WecObj.wecBus_nums:

In [ ]:
wecBus_nums = [21, 22, 23]
generator_buses = [2, 7, 13, 14, 15, 16, 18, 21, 22, 23]

In [ ]:
result = [x for x in WecObj.wecBus_nums if x[0] not in generator_buses.BUS_ID.to_list()]

In [ ]:
filter(lambda WecObj.wecBus_nums: WecObj.wecBus_nums[0] in generator_buses.BUS_ID.to_list(), generator_buses.BUS_ID.to_list())

In [ ]:
filter()

In [ ]:
Output = [b for b in Input_string if all(a not in b for a in Input)]

In [ ]:
generator_buses = WecObj.psse_dataframe[WecObj.psse_dataframe["Type"] == 2].BUS_ID.to_list()
wecBus_nums = WecObj.wecBus_nums

regular_gens = [x for x in generator_buses if x not in wecBus_nums]

print(regular_gens)
for key, value in WecObj.migrid_data.items():
    if key[:3] == 'gen':
        WecObj._psse_adjust_gen(p=value.iloc[0].gen_value)

In [ ]:
value.iloc[0].gen_value

In [ ]:
generator_buses

In [ ]:
wecBus_nums = [21, 22, 23]
generator_buses = [2, 7, 13, 14, 15, 16, 18, 21, 22, 23]

regular_gens = [x for x in generator_buses if x not in wecBus_nums]