In [1]:
#WEC-GRID Development Block

import os,sys
from pickle import HIGHEST_PROTOCOL

# Path stuff
sys.path.append(r"C:\Program Files\PTI\PSSE35\35.3\PSSPY37")
sys.path.append(r"C:\Program Files\PTI\PSSE35\35.3\PSSBIN")
sys.path.append(r"C:\Program Files\PTI\PSSE35\35.3\PSSLIB")
sys.path.append(r"C:\Program Files\PTI\PSSE35\35.3\EXAMPLE")
os.environ['PATH'] = (r"C:\Program Files\PTI\PSSE35\35.3\PSSPY37;" 
  + r"C:\Program Files\PTI\PSSE35\35.3\PSSBIN;" 
  + r"C:\Program Files\PTI\PSSE35\35.3\EXAMPLE;" + os.environ['PATH'])

# imports all the GOOOOOOD stuff we need for our program / automation stuff 
import glob
from pathlib import Path
import pandas as pd
import psse35
psse35.set_minor(3)
import math
import numpy as np
import matplotlib.pyplot as plt

import psspy
psspy.psseinit(50)
_i = psspy.getdefaultint()
_f = psspy.getdefaultreal()
_s = psspy.getdefaultchar()

class Wec_grid:
    def __init__(self, case, solver, wec_bus):

        # initalized variables and files
        self.case_file = case
        self.lst_param = ['BASE', 'PU', 'ANGLED', 'P', 'Q']
        self.dataframe = pd.DataFrame()
        self.wecBus_num = wec_bus
        self.history = {}
        self._i = psspy.getdefaultint()
        self._f = psspy.getdefaultreal()
        self._s = psspy.getdefaultchar()

        # initialization functions
        psspy.read(1, case)
        self.run_powerflow(solver)

        # program variables
        self.swingBus = self.dataframe.loc[self.dataframe['Bus'] == 'BUS 1']
        self.swingBus.insert(0, 'time', None)
        self.wecBus = self.dataframe.loc[self.dataframe['Bus'] == 'BUS {}'.format(str(self.wecBus_num))]
        self.wecBus.insert(0, 'time', None)

        self.history['Start'] = self.dataframe

    def clear():
        # initalized variables and files
        self.case_file = case
        self.lst_param = ['BASE', 'PU', 'ANGLED', 'P', 'Q']
        self.dataframe = pd.DataFrame()
        self.wecBus_num = wec_bus
        self.history = {}

        # initialization functions
        psspy.read(1, case)
        self.run_powerflow(solver)

        # program variables
        self.swingBus = self.dataframe.loc[self.dataframe['Bus'] == 'BUS 1']
        self.swingBus.insert(0, 'time', None)
        self.wecBus = self.dataframe.loc[self.dataframe['Bus'] == 'BUS {}'.format(str(self.wecBus_num))]
        self.wecBus.insert(0, 'time', None)

        self.history['Start'] = self.dataframe

    def run_powerflow(self,solver):
        if solver == 'fnsl':
            psspy.fnsl()
            self.get_values()
        if solver == 'GS':
            psspy.solv()
            self.get_values()
        if solver == 'DC':
            #psspy.dclf_2(1, 1, [1,2,12,1,0,1],[0,0,0], '1')
            psspy.dclf()
            self.get_values()
        else:
            print("error in run_pf")

    def get_values(self):
        """
        Descrtiption: 
        input: List of Parameters such as BASE, PU, KV, ANGLED 
        output: Dataframe of the selected parameters for each bus
        """
        lst = self.lst_param
        temp_dict = {}
        for i in range(len(lst)):
            #print('here {}'.format(i))
            if lst[i] != "P" and lst[i] != "Q":
                ierr, bus_voltages = psspy.abusreal(-1, string=lst[i])
                bus_add = {}
                for j in range(len(bus_voltages[0])):
                    bus_add['BUS {}'.format(j+1)] = bus_voltages[0][j]
                    temp_dict[lst[i]] = bus_voltages[0]
                temp_dict[lst[i]] = bus_add
                

        self.dataframe = pd.DataFrame.from_dict(temp_dict) 
        self.dataframe = self.dataframe.reset_index()
        self.dataframe = self.dataframe.rename(columns={'index':"Bus"})
        self.dataframe['Type'] = psspy.abusint(-1, string="TYPE")[1][0]
        self.dataframe.insert(0, "BUS_ID", range(1, 1 + len(self.dataframe)))
        self.addGeninfo()
        self.addLoadinfo()
        
        if "P" in lst:
            self.dataframe['P'] = 0 # initalize P column
            self.get_p_or_q('P')

        if "Q" in lst:
            self.dataframe['Q'] = 0 # initalize Q column
            self.get_p_or_q('Q')       
            
    def get_p_or_q(self, letter):
        """
        Descrtiption: retre P (activate) Q (reactive) Voltage (in PU) and Voltage Angle for each Bus in the current loaded case
        input:
        output:
        """      
        gen = self.dataframe['{} Gen'.format(letter)]
        load = self.dataframe['{} Load'.format(letter)]
        temp = []
        for i in range(len(gen)):
            if (not np.isnan(gen[i])) and (not np.isnan(load[i])):
                temp.append(gen[i] - load[i])
            elif np.isnan(gen[i]) and np.isnan(load[i]):
                temp.append(None)
            else:
                if np.isnan(gen[i]):
                    temp.append(-load[i])
                else:
                    temp.append(gen[i])
        self.dataframe['{}'.format(letter)] = temp
            
            
    def busNum(self):
        """
        Descrtiption: Returns the number of Buses in the currently loaded case
        input: None 
        output: Number of Buses
        """
        psspy.bsys(0,0,[0.0,0.0],1,[1],0,[],0,[],0,[])
        ierr,all_bus = psspy.abusint(0,1,['number'])
        return all_bus[0]
    
    def dc_injection(self, ibus, p, pf_solver, time):
        ierr = psspy.machine_chng_3(self.wecBus_num, "1", [self._i,self._i,self._i,self._i,self._i,self._i,self._i], [p, 0, self._f, self._f, self._f,self._f,self._f,self._f,self._f,self._f,self._f,self._f,self._f,self._f,self._f,self._f,self._f])
        if ierr > 0:
            print("Failed | machine_chng_3 code = {}".format(ierr))
        #self.run_powerflow('DC')
        
        temp = pd.DataFrame(self.dataframe.loc[self.dataframe['Bus'] == 'BUS 1'])
        temp.insert(0, 'time', time)
        self.swingBus = self.swingBus.append(temp)
        temp = pd.DataFrame(self.dataframe.loc[self.dataframe['Bus'] == 'BUS {}'.format(str(self.wecBus_num))])
        temp.insert(0,'time', time)
        self.wecBus = self.wecBus.append(temp)
        self.history[time] = self.dataframe
        
        
    def ac_injection(self, ibus, p, v, pf_solver, time):
        ierr = psspy.machine_chng_3(ibus, "1", [], [p])
        if ierr > 0:
            print("Failed | machine_chng_3 code = {}".format(ierr))
        ierr = psspy.bus_chng_4(ibus, 0, [],[self._f, v])
        if ierr > 0:
            print("Failed | bus_chng_4 code = {}".format(ierr))
        self.run_powerflow(pf_solver)
        temp = pd.DataFrame(self.dataframe.loc[self.dataframe['Bus'] == 'BUS 1'])
        temp.insert(0, 'time', time)
        self.swingBus = self.swingBus.append(temp)
        temp = pd.DataFrame(self.dataframe.loc[self.dataframe['Bus'] == 'BUS {}'.format(str(self.wecBus_num))])
        temp.insert(0,'time', time)
        self.wecBus = self.wecBus.append(temp)
        self.history[time] = self.dataframe

    def plotSwingBus(self, letter):
        plt.plot(self.swingBus.time, self.swingBus[letter], marker="o", markersize=5, markerfacecolor="green")
        plt.xlabel("Time (sec)")
        plt.ylabel("{} in MW".format(letter))
        plt.title("Swing bus")
        plt.show()
    
    def plotWecBus(self, letter):
        plt.plot(self.wecBus.time, self.wecBus[letter], marker="x", markersize=5, markerfacecolor="red")
        plt.xlabel("Time (sec)")
        plt.ylabel("{} in MW".format(letter))
        plt.title("Wec bus")
        plt.show()
        
    def addGeninfo(self):
        buses = []
        for string in psspy.amachchar(-1,1,'NAME')[1][0]:
            buses.append(self.findBusNum(string))
        temp = psspy.amachcplx(-1,1,'PQGEN')
        pointer = 0 
        pointer_1 = 0
        p_gen_df_list = []
        q_gen_df_list = []

        for index, row in self.dataframe.iterrows():
            if row['BUS_ID'] == buses[pointer]:
                p_gen_df_list.append(temp[1][0][pointer].real)
                q_gen_df_list.append(temp[1][0][pointer].imag)
                pointer +=1
                if pointer >= len(buses):
                    pointer = 0
            else:
                p_gen_df_list.append(None)
                q_gen_df_list.append(None)
        self.dataframe['P Gen'] = p_gen_df_list
        self.dataframe['Q Gen'] = q_gen_df_list

    def addLoadinfo(self):
        buses = []
        for string in psspy.aloadchar(-1,1,'NAME')[1][0]:
            buses.append(self.findBusNum(string))

        temp = psspy.aloadcplx(-1, 1, "MVAACT")
        pointer = 0 
        pointer_1 = 0
        p_load_df_list = []
        q_load_df_list = []

        for index, row in self.dataframe.iterrows():
            if row['BUS_ID'] == buses[pointer]:

                p_load_df_list.append(temp[1][0][pointer].real)
                q_load_df_list.append(temp[1][0][pointer].imag)
                pointer +=1
            else:
                p_load_df_list.append(None)
                q_load_df_list.append(None)
        self.dataframe['P Load'] = p_load_df_list
        self.dataframe['Q Load'] = q_load_df_list
        
    def findBusNum(self,string_bus_name):
        temp_string = ''
        for i in string_bus_name:
            if i.isdigit():
                temp_string += i
        return int(temp_string)

    Sets PSSE environment to latest minor version among installed versions of PSSE 35.
    Use psse35.set_minor(n) to set PSSE35 minor version (n) to use.
        Example, for PSSE 35.0.x, use this as: psse35.set_minor(0)

 Input error detected at !
 -m ipykernel_launcher -f C:\Users\barajale\AppData\Roaming\jupyter\runtime\kernel-23612cf9-ee12-457e-950b-4a1b5121b4e0.json
                          !

 PSS(R)E Xplore Version 35
 Copyright (c) 1976-2022
 Siemens Industry, Inc.,
 Power Technologies International                            (PTI)
 This program is a confidential  unpublished  work  created  and  first
 licensed in 1976.  It is a trade secret which is the property of  PTI.
 All use,  disclosure,  and/or reproduction not specifically authorized
 by  PTI  is prohibited.   This  program is protected  under  copyright
 laws  of  non-U.S.  countries  and  by  application  of  international
 treaties.  All  Rights  Reserved  Under  The  Copyright  Laws.


           SIEMENS POWER TECHNOLOGIES INTERNATIONAL

    50 BUS POWER SYSTEM SIMULATOR--PSS(R)E Xplore-35.3.2

             INITIATED ON THU, SEP 29 2022  11:52

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>div.output_scroll { height: 44em; }</style>"))

In [4]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sqlite3
plt.rcParams["figure.figsize"] = (15,10)

In [6]:
case14 = r"../input_files/case14.raw"
w2g_obj = Wec_grid(case14,'DC', 3)
w2g_obj.dataframe

 Reading IC, SBASE, REV, XFRRAT, NXFRAT, BASFRQ...

 Converting RAW data from PSS(R)E 33 to PSS(R)E 34 format
 Starting processing of Case identification data records
 Finished processing of 3 records for Case identification data
 Starting processing of Bus data records
 Finished processing of 14 records for Bus data
 Starting processing of Load data records
 Finished processing of 11 records for Load data
 Starting processing of Fixed shunt data records
 Finished processing of 1 records for Fixed shunt data
 Starting processing of Generator data records
 Finished processing of 5 records for Generator data
 Starting processing of Branch data records
 Finished processing of 17 records for Branch data
 Finished processing of 0 records for System switching device data
 Starting processing of Transformer data records
 Finished processing of 12 records for 3 Transformer data
 Starting processing of Area data records
 Finished processing of 0 records for Area data
 Starting processing of Two-terminal dc data records
 Finished processing of 0 records for 0 Two-terminal dc data
 Starting processing of VSC dc line data records
 Finished processing of 0 records for 0 VSC dc line data
 Starting processing of Impedance correction data records
 Finished processing of 0 records for Impedance correction data
 Starting processing of Multi-terminal dc data records
 Finished processing of 0 records for 0 Multi-terminal dc data
 Starting processing of Multi-section line data records
 Finished processing of 0 records for Multi-section line data
 Starting processing of Zone data records
 Finished processing of 0 records for Zone data
 Starting processing of Inter-area transfer data records
 Finished processing of 0 records for Inter-area transfer data
 Starting processing of Owner data records
 Finished processing of 0 records for Owner data
 Starting processing of FACTS device data records
 Finished processing of 0 records for FACTS device data
 Starting processing of Switched shunt data records
 Finished processing of 0 records for Switched shunt data
 Starting processing of GNE data records
 Finished processing of 0 records for 0 GNE data
 Starting processing of Induction machine data records
 Finished processing of 0 records for Induction machine data

 Converting RAW data from PSS(R)E 34 to PSS(R)E 35 format
 Starting processing of Case identification data records
 Finished processing of 3 records for Case identification data
 Starting processing of System-wide data records
 Finished processing of 0 records for System-wide data
 Starting processing of Bus data records
 Finished processing of 14 records for Bus data
 Starting processing of Load data records
 Finished processing of 11 records for Load data
 Starting processing of Fixed shunt data records
 Finished processing of 1 records for Fixed shunt data
 Starting processing of Generator data records
 Finished processing of 5 records for Generator data
 Starting processing of Branch data records
 Finished processing of 17 records for Branch data
 Starting processing of System switching device data records
 Finished processing of 0 records for System switching device data
 Starting processing of Transformer data records
 Finished processing of 12 records for 3 Transformer data
 Starting processing of Area data records
 Finished processing of 0 records for Area data
 Starting processing of Two-terminal dc data records
 Finished processing of 0 records for 0 Two-terminal dc data
 Starting processing of VSC dc line data records
 Finished processing of 0 records for 0 VSC dc line data
 Starting processing of Impedance correction data records
 Finished processing of 0 records for Impedance correction data
 Starting processing of Multi-terminal dc data records
 Finished processing of 0 records for 0 Multi-terminal dc data
 Starting processing of Multi-section line data records
 Finished processing of 0 records for Multi-section line data
 Starting processing of Zone data records
 Finished processing of 0 records for Zone data
 Starting processing of Inter-area transfer data records
 Finished processing of 0 records for Inter-area transfer data
 Starting processing of Owner data records
 Finished processing of 0 records for Owner data
 Starting processing of FACTS device data records
 Finished processing of 0 records for FACTS device data
 Starting processing of Switched shunt data records
 Finished processing of 0 records for Switched shunt data
 Starting processing of GNE data records
 Finished processing of 0 records for 0 GNE data
 Starting processing of Induction machine data records
 Finished processing of 0 records for Induction machine data
 Starting processing of Substation data records
 Finished processing of 0 records for Substation data

 Reading current format RAW data file

 Reading IC, SBASE, REV, XFRRAT, NXFRAT, BASFRQ...

 Reading two line case heading...

 Reading system-wide data...

 Reading bus data...

 Reading load data...

 Reading fixed bus shunt data...

 Reading generator data...

 Reading non-transformer branch data...

 Reading system switching device data...

 Reading transformer data...

 Reading area interchange data...

 Reading two-terminal dc line data...

 Reading VSC dc line data...

 Reading transformer impedance correction data...

 Reading multi-terminal dc line data...

 Reading multi-section line data...

 Reading zone name data...

 Reading inter-area transfer data...

 Reading owner name data...

 Reading FACTS device data...

 Reading switched shunt data...

 Reading GNE device data...

 Reading induction machine data...

 Reading substation data...

 Ordering network...
 Diagonals = 13   Off-diagonals = 22   Maximum size = 36

 The working case has a largest mismatch of 0.35 MW at bus 13 [BUS 13            ]
                              PTI INTERACTIVE POWER SYSTEM SIMULATOR--PSS(R)E Xplore THU, SEP 29 2022  11:52



 X----------- FROM BUS -----------X   BASE CHANGE    GEN.    LOAD X------------ TO BUS ------------X         BASE CASE    RATE1    CHANGE CASE   DELTA
   BUS#-SCT X-- NAME --X BASKV AREA  ANGLE  ANGLE     MW      MW    BUS#-SCT X-- NAME --X BASKV AREA CKT     MW      MVA     MW      MW
      1     BUS 1                 1    0.0          232.4     0.0 --------------------------------------------------------------------------------
                                                                       2     BUS 2                 1  1    157.2
                                                                       5     BUS 5                 1  1     75.2
      2     BUS 2                 1   -5.2           40.0    21.7 --------------------------------------------------------------------------------
                                                                       1     BUS 1                 1  1   -152.9
                                                                       3     BUS 3                 1  1     72.4
                                                                       4     BUS 4                 1  1     57.0
                                                                       5     BUS 5                 1  1     41.8
      3     BUS 3                 1  -13.1            0.0    94.2 --------------------------------------------------------------------------------
                                                                       2     BUS 2                 1  1    -70.1
                                                                       4     BUS 4                 1  1    -24.1
      4     BUS 4                 1  -10.8            0.0    47.8 --------------------------------------------------------------------------------
                                                                       2     BUS 2                 1  1    -55.3
                                                                       3     BUS 3                 1  1     24.5
                                                                       5     BUS 5                 1  1    -62.8
                                                                       7     BUS 7                 1  1     29.1
                                                                       9     BUS 9                 1  1     16.7
      5     BUS 5                 1   -9.3            0.0     7.6 --------------------------------------------------------------------------------
                                                                       1     BUS 1                 1  1    -72.4
                                                                       2     BUS 2                 1  1    -40.9
                                                                       4     BUS 4                 1  1     63.3
                                                                       6     BUS 6                 1  1     42.4
      6     BUS 6                 1  -15.4            0.0    11.2 --------------------------------------------------------------------------------
                                                                       5     BUS 5                 1  1    -42.4
                                                                      11     BUS 11                1  1      6.3
                                                                      12     BUS 12                1  1      7.6
                                                                      13     BUS 13                1  1     17.3
      7     BUS 7                 1  -14.3            0.0     0.0 --------------------------------------------------------------------------------
                                                                       4     BUS 4                 1  1    -29.1
                                                                       8     BUS 8                 1  1      0.0
                                                                       9     BUS 9                 1  1     29.1
      8     BUS 8                 1  -14.3            0.0     0.0 --------------------------------------------------------------------------------
                                                                       7     BUS 7                 1  1      0.0
      9     BUS 9                 1  -16.1            0.0    29.5 --------------------------------------------------------------------------------
                                                                       4     BUS 4                 1  1    -16.7
                                                                       7     BUS 7                 1  1    -29.1
                                                                      10     BUS 10                1  1      6.3
                                                                      14     BUS 14                1  1     10.1
     10     BUS 10                1  -16.4            0.0     9.0 --------------------------------------------------------------------------------
                                                                       9     BUS 9                 1  1     -6.2
                                                                      11     BUS 11                1  1     -2.8
     11     BUS 11                1  -16.1            0.0     3.5 --------------------------------------------------------------------------------
                                                                       6     BUS 6                 1  1     -6.3
                                                                      10     BUS 10                1  1      2.8
     12     BUS 12                1  -16.5            0.0     6.1 --------------------------------------------------------------------------------
                                                                       6     BUS 6                 1  1     -7.6
                                                                      13     BUS 13                1  1      1.5
     13     BUS 13                1  -16.7            0.0    13.5 --------------------------------------------------------------------------------
                                                                       6     BUS 6                 1  1    -17.0
                                                                      12     BUS 12                1  1     -1.4
                                                                      14     BUS 14                1  1      5.0
     14     BUS 14                1  -17.6            0.0    14.9 --------------------------------------------------------------------------------
                                                                       9     BUS 9                 1  1    -10.0
                                                                      13     BUS 13                1  1     -4.9

 Output completed

 Original ac voltages are retained

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

In [12]:
ierr = psspy.machine_chng_4(3,"1",[],[psspy._i,0.0],"")
w2g_obj.get_values()

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
    0.00000        0.100000E+09  PG
    23.4000         0.00000      QG

In [71]:
w2g_obj.dataframe

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,2.324000e+02,-16.900000,NaN,NaN,2.324000e+02,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,4.000000e+01,42.400002,21.700001,12.700001,1.830000e+01,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,1.000000e+08,0.000000,94.199997,19.000000,9.999991e+07,-19.000000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-4.780000e+01,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000e+00,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000e+00,12.200000,11.200000,7.500000,-1.120000e+01,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000e+00,17.400000,NaN,NaN,0.000000e+00,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-2.950000e+01,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000e+00,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000e+00,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000e+00,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-1.350000e+01,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-1.490000e+01,-5.000000

In [7]:
case_file = '../input_files/case14.raw'

injection_file = ('../input_files/WECgen_data.csv')
injection = pd.read_csv(injection_file)

for i in range(len(injection)):
    print("Time: {}".format(injection.iloc[i].time))
    print("P setpoint: {}".format(injection.pg.iloc[i]))

    w2g_obj.dc_injection(3, injection.pg.iloc[i], 'DC', injection.iloc[i].time)
    w2g_obj.dataframe
    
    print("========================")

Time: 0.0
P setpoint: nan

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
    23.4000         0.00000      QG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 300.0
P setpoint: 0.0198698935614292

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
    0.00000        0.198699E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 600.0
P setpoint: 0.0160540053841577

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.198699E-01    0.160540E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 900.0
P setpoint: 0.0209904509917789

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.160540E-01    0.209905E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 1200.0
P setpoint: 0.0160941586552399

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.209905E-01    0.160942E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 1500.0
P setpoint: 0.0206802480888904

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.160942E-01    0.206802E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 1800.0
P setpoint: 0.0215998844146652

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.206802E-01    0.215999E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 2100.0
P setpoint: 0.0243658252124206

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.215999E-01    0.243658E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 2400.0
P setpoint: 0.0238364178398632

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.243658E-01    0.238364E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 2700.0
P setpoint: 0.021941734101661

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.238364E-01    0.219417E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 3000.0
P setpoint: 0.0206529236573926

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.219417E-01    0.206529E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 3300.0
P setpoint: 0.0163822575161442

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.206529E-01    0.163823E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 3600.0
P setpoint: 0.0180194406601077

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.163823E-01    0.180194E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 3900.0
P setpoint: 0.0203531822081668

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.180194E-01    0.203532E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 4200.0
P setpoint: 0.0201019323140678

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.203532E-01    0.201019E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 4500.0
P setpoint: 0.0234453068373952

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.201019E-01    0.234453E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 4800.0
P setpoint: 0.0210751656094055

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.234453E-01    0.210752E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 5100.0
P setpoint: 0.0243169198502657

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.210752E-01    0.243169E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 5400.0
P setpoint: 0.0207996344375846

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.243169E-01    0.207996E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 5700.0
P setpoint: 0.0185471075790893

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.207996E-01    0.185471E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 6000.0
P setpoint: 0.0164705760135488

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.185471E-01    0.164706E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 6300.0
P setpoint: 0.0210954995591693

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.164706E-01    0.210955E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 6600.0
P setpoint: 0.0199712533138671

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.210955E-01    0.199713E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 6900.0
P setpoint: 0.0189473748168457

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.199713E-01    0.189474E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 7200.0
P setpoint: 0.0226446908353083

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.189474E-01    0.226447E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 7500.0
P setpoint: 0.0201229669918919

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.226447E-01    0.201230E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 7800.0
P setpoint: 0.0163868586662932

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.201230E-01    0.163869E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 8100.0
P setpoint: 0.0219324825147143

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.163869E-01    0.219325E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 8400.0
P setpoint: 0.0192685773279391

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.219325E-01    0.192686E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 8700.0
P setpoint: 0.0264492218213003

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.192686E-01    0.264492E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 9000.0
P setpoint: 0.0208944325581133

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.264492E-01    0.208944E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 9300.0
P setpoint: 0.0222746082985441

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.208944E-01    0.222746E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 9600.0
P setpoint: 0.0229467678259559

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.222746E-01    0.229468E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 9900.0
P setpoint: 0.018295704246457

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.229468E-01    0.182957E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 10200.0
P setpoint: 0.018432496417152

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.182957E-01    0.184325E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 10500.0
P setpoint: 0.0171980997078237

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.184325E-01    0.171981E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 10800.0
P setpoint: 0.0218964852837562

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.171981E-01    0.218965E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 11100.0
P setpoint: 0.0192216684871193

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.218965E-01    0.192217E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 11400.0
P setpoint: 0.0198004031600655

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.192217E-01    0.198004E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 11700.0
P setpoint: 0.0166739698456956

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.198004E-01    0.166740E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 12000.0
P setpoint: 0.0220847139023436

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.166740E-01    0.220847E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 12300.0
P setpoint: 0.0250389986470708

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.220847E-01    0.250390E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 12600.0
P setpoint: 0.0203030244337257

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.250390E-01    0.203030E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 12900.0
P setpoint: 0.0225341360240723

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.203030E-01    0.225341E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 13200.0
P setpoint: 0.0199189409903123

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.225341E-01    0.199189E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 13500.0
P setpoint: 0.0208065751499031

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.199189E-01    0.208066E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 13800.0
P setpoint: 0.0246684555248393

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.208066E-01    0.246685E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 14100.0
P setpoint: 0.0187160235309671

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.246685E-01    0.187160E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 14400.0
P setpoint: 0.0167099304821893

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.187160E-01    0.167099E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 14700.0
P setpoint: 0.0197026273902406

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.167099E-01    0.197026E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 15000.0
P setpoint: 0.0203885228756506

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.197026E-01    0.203885E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 15300.0
P setpoint: 0.0203198228700823

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.203885E-01    0.203198E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 15600.0
P setpoint: 0.0224721665382405

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.203198E-01    0.224722E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 15900.0
P setpoint: 0.0158213622344364

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.224722E-01    0.158214E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 16200.0
P setpoint: 0.0216110078232698

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.158214E-01    0.216110E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 16500.0
P setpoint: 0.0205619178222629

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.216110E-01    0.205619E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 16800.0
P setpoint: 0.0217199991800121

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.205619E-01    0.217200E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 17100.0
P setpoint: 0.0242838827716576

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.217200E-01    0.242839E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 17400.0
P setpoint: 0.0158495220474406

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.242839E-01    0.158495E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 17700.0
P setpoint: 0.0210555689071975

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.158495E-01    0.210556E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 18000.0
P setpoint: 0.0204901704786198

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.210556E-01    0.204902E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 18300.0
P setpoint: 0.017797953325263002

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.204902E-01    0.177980E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 18600.0
P setpoint: 0.0320269116178802

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.177980E-01    0.320269E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 18900.0
P setpoint: 0.0188399577373092

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.320269E-01    0.188400E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 19200.0
P setpoint: 0.020438752943198

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.188400E-01    0.204388E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 19500.0
P setpoint: 0.0178981505696897

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.204388E-01    0.178981E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 19800.0
P setpoint: 0.0197034789906012

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.178981E-01    0.197035E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 20100.0
P setpoint: 0.0155816187938041

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.197035E-01    0.155816E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 20400.0
P setpoint: 0.0213647823274559

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.155816E-01    0.213648E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 20700.0
P setpoint: 0.0171969942873342

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.213648E-01    0.171970E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 21000.0
P setpoint: 0.0225809455374375

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.171970E-01    0.225809E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 21300.0
P setpoint: 0.0203298825400017

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.225809E-01    0.203299E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================
Time: 21600.0
P setpoint: 0.0179417500635753

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.203299E-01    0.179418E-01  PG

,BUS_ID,Bus,BASE,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load,P,Q
0,1,BUS 1,0.0,1.060,0.000000,3,232.399994,-16.900000,NaN,NaN,232.399994,-16.900000
1,2,BUS 2,0.0,1.045,-4.980000,2,40.000000,42.400002,21.700001,12.700001,18.299999,29.700001
2,3,BUS 3,0.0,1.010,-12.719999,2,0.000000,23.400000,94.199997,19.000000,-94.199997,4.400000
3,4,BUS 4,0.0,1.019,-10.330000,1,NaN,NaN,47.799999,-3.900000,-47.799999,3.900000
4,5,BUS 5,0.0,1.020,-8.780000,1,NaN,NaN,7.600000,1.600000,-7.600000,-1.600000
5,6,BUS 6,0.0,1.070,-14.220000,2,0.000000,12.200000,11.200000,7.500000,-11.200000,4.699999
6,7,BUS 7,0.0,1.062,-13.370001,1,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,0.0,1.090,-13.360000,2,0.000000,17.400000,NaN,NaN,0.000000,17.400000
8,9,BUS 9,0.0,1.056,-14.939999,1,NaN,NaN,29.499998,16.600000,-29.499998,-16.600000
9,10,BUS 10,0.0,1.051,-15.100001,1,NaN,NaN,9.000000,5.800000,-9.000000,-5.800000
10,11,BUS 11,0.0,1.057,-14.790001,1,NaN,NaN,3.500000,1.800000,-3.500000,-1.800000
11,12,BUS 12,0.0,1.055,-15.070000,1,NaN,NaN,6.100000,1.600000,-6.100000,-1.600000
12,13,BUS 13,0.0,1.050,-15.159998,1,NaN,NaN,13.500001,5.800000,-13.500001,-5.800000
13,14,BUS 14,0.0,1.036,-16.040001,1,NaN,NaN,14.899999,5.000000,-14.899999,-5.000000

========================

In [ ]:
psspy.dclf(0, 1, [1,2,1,1],[0,0,0], '1')

In [ ]:
w2g_obj.plotSwingBus("P")

In [ ]:
w2g_obj.plotWecBus('P')

In [ ]:
w2g_obj.plotWecBus('Q')

In [ ]:
for key, data in w2g_obj.history.items():
    data.loc[data['Bus'] == 'BUS 3']['P']
    break

In [ ]:
case_file = '../input_files/case14.raw' # update this with a path to an example case
psspy.read(1, case_file)
psspy.dclf_2(1, 1, [1,1,1,2,1,1],[0,0,0], '1')

In [51]:
injection_file = ('../input_files/WECgen_data.csv')
injection = pd.read_csv(injection_file)

In [52]:
injection

,time,ibus,machid,pg,qg,qt,qb,vs,ireg,nreg,...,xt,gtap,stat,rmpct,pt,pb,o1,f1,wmod,wpf
0,0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.5
1,300,1.0,1.0,0.019870,0.0,0.05,-0.05,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.019870,0.0,NaN,NaN,2.0,0.5
2,600,1.0,1.0,0.016054,0.0,0.05,-0.05,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.016054,0.0,NaN,NaN,2.0,0.5
3,900,1.0,1.0,0.020990,0.0,0.05,-0.05,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.020990,0.0,NaN,NaN,2.0,0.5
4,1200,1.0,1.0,0.016094,0.0,0.05,-0.05,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.016094,0.0,NaN,NaN,2.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,20400,1.0,1.0,0.021365,0.0,0.05,-0.05,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.021365,0.0,NaN,NaN,2.0,0.5
69,20700,1.0,1.0,0.017197,0.0,0.05,-0.05,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.017197,0.0,NaN,NaN,2.0,0.5
70,21000,1.0,1.0,0.022581,0.0,0.05,-0.05,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.022581,0.0,NaN,NaN,2.0,0.5
71,21300,1.0,1.0,0.020330,0.0,0.05,-0.05,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.020330,0.0,NaN,NaN,2.0,0.5
72,21600,NaN,NaN,0.017942,0.0,0.05,-0.05,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.017942,0.0,NaN,NaN,NaN,NaN

In [64]:
psspy.machine_chng_4(3,"1",[],[ 0.03,0.0],"")

 Power flow data changed for machine "1" at bus 3 [BUS 3             ]:
 X--ORIGINAL--X  X-NEW VALUE--X  DATA ITEM
   0.200000E-01    0.300000E-01  PG

0

In [59]:
psspy.machine_chng_4??