In [1]:
import sys
sys.path.append('../wec-grid-code') # 
import pandas as pd
import wec_grid_class as wg
import matplotlib.pyplot as plt
import numpy as np
import sqlite3
plt.rcParams["figure.figsize"] = (15,10)

    Sets PSSE environment to latest minor version among installed versions of PSSE 35.
    Use psse35.set_minor(n) to set PSSE35 minor version (n) to use.
        Example, for PSSE 35.0.x, use this as: psse35.set_minor(0)

 Input error detected at !
 -m ipykernel_launcher -f C:\Users\barajale\AppData\Roaming\jupyter\runtime\kernel-2e947543-167f-4244-bc2c-eb7ea3f81c45.json
                          !

 PSS(R)E Xplore Version 35
 Copyright (c) 1976-2022
 Siemens Industry, Inc.,
 Power Technologies International                            (PTI)
 This program is a confidential  unpublished  work  created  and  first
 licensed in 1976.  It is a trade secret which is the property of  PTI.
 All use,  disclosure,  and/or reproduction not specifically authorized
 by  PTI  is prohibited.   This  program is protected  under  copyright
 laws  of  non-U.S.  countries  and  by  application  of  international
 treaties.  All  Rights  Reserved  Under  The  Copyright  Laws.


           SIEMENS POWER TECHNOLOGIES INTERNATIONAL

    50 BUS POWER SYSTEM SIMULATOR--PSS(R)E Xplore-35.3.2

             INITIATED ON THU, AUG 25 2022  11:56

In [3]:
# Read in case file 
case14 = r"../input_files/case14.raw"
pf_14 = wg.Wec_grid(case14)

 Reading IC, SBASE, REV, XFRRAT, NXFRAT, BASFRQ...

 Converting RAW data from PSS(R)E 33 to PSS(R)E 34 format
 Starting processing of Case identification data records
 Finished processing of 3 records for Case identification data
 Starting processing of Bus data records
 Finished processing of 14 records for Bus data
 Starting processing of Load data records
 Finished processing of 11 records for Load data
 Starting processing of Fixed shunt data records
 Finished processing of 1 records for Fixed shunt data
 Starting processing of Generator data records
 Finished processing of 5 records for Generator data
 Starting processing of Branch data records
 Finished processing of 17 records for Branch data
 Finished processing of 0 records for System switching device data
 Starting processing of Transformer data records
 Finished processing of 12 records for 3 Transformer data
 Starting processing of Area data records
 Finished processing of 0 records for Area data
 Starting processing of Two-terminal dc data records
 Finished processing of 0 records for 0 Two-terminal dc data
 Starting processing of VSC dc line data records
 Finished processing of 0 records for 0 VSC dc line data
 Starting processing of Impedance correction data records
 Finished processing of 0 records for Impedance correction data
 Starting processing of Multi-terminal dc data records
 Finished processing of 0 records for 0 Multi-terminal dc data
 Starting processing of Multi-section line data records
 Finished processing of 0 records for Multi-section line data
 Starting processing of Zone data records
 Finished processing of 0 records for Zone data
 Starting processing of Inter-area transfer data records
 Finished processing of 0 records for Inter-area transfer data
 Starting processing of Owner data records
 Finished processing of 0 records for Owner data
 Starting processing of FACTS device data records
 Finished processing of 0 records for FACTS device data
 Starting processing of Switched shunt data records
 Finished processing of 0 records for Switched shunt data
 Starting processing of GNE data records
 Finished processing of 0 records for 0 GNE data
 Starting processing of Induction machine data records
 Finished processing of 0 records for Induction machine data

 Converting RAW data from PSS(R)E 34 to PSS(R)E 35 format
 Starting processing of Case identification data records
 Finished processing of 3 records for Case identification data
 Starting processing of System-wide data records
 Finished processing of 0 records for System-wide data
 Starting processing of Bus data records
 Finished processing of 14 records for Bus data
 Starting processing of Load data records
 Finished processing of 11 records for Load data
 Starting processing of Fixed shunt data records
 Finished processing of 1 records for Fixed shunt data
 Starting processing of Generator data records
 Finished processing of 5 records for Generator data
 Starting processing of Branch data records
 Finished processing of 17 records for Branch data
 Starting processing of System switching device data records
 Finished processing of 0 records for System switching device data
 Starting processing of Transformer data records
 Finished processing of 12 records for 3 Transformer data
 Starting processing of Area data records
 Finished processing of 0 records for Area data
 Starting processing of Two-terminal dc data records
 Finished processing of 0 records for 0 Two-terminal dc data
 Starting processing of VSC dc line data records
 Finished processing of 0 records for 0 VSC dc line data
 Starting processing of Impedance correction data records
 Finished processing of 0 records for Impedance correction data
 Starting processing of Multi-terminal dc data records
 Finished processing of 0 records for 0 Multi-terminal dc data
 Starting processing of Multi-section line data records
 Finished processing of 0 records for Multi-section line data
 Starting processing of Zone data records
 Finished processing of 0 records for Zone data
 Starting processing of Inter-area transfer data records
 Finished processing of 0 records for Inter-area transfer data
 Starting processing of Owner data records
 Finished processing of 0 records for Owner data
 Starting processing of FACTS device data records
 Finished processing of 0 records for FACTS device data
 Starting processing of Switched shunt data records
 Finished processing of 0 records for Switched shunt data
 Starting processing of GNE data records
 Finished processing of 0 records for 0 GNE data
 Starting processing of Induction machine data records
 Finished processing of 0 records for Induction machine data
 Starting processing of Substation data records
 Finished processing of 0 records for Substation data

 Reading current format RAW data file

 Reading IC, SBASE, REV, XFRRAT, NXFRAT, BASFRQ...

 Reading two line case heading...

 Reading system-wide data...

 Reading bus data...

 Reading load data...

 Reading fixed bus shunt data...

 Reading generator data...

 Reading non-transformer branch data...

 Reading system switching device data...

 Reading transformer data...

 Reading area interchange data...

 Reading two-terminal dc line data...

 Reading VSC dc line data...

 Reading transformer impedance correction data...

 Reading multi-terminal dc line data...

 Reading multi-section line data...

 Reading zone name data...

 Reading inter-area transfer data...

 Reading owner name data...

 Reading FACTS device data...

 Reading switched shunt data...

 Reading GNE device data...

 Reading induction machine data...

 Reading substation data...

In [14]:
pf_14.run_powerflow('fnsl')
pf_14.get_values(['PU', 'ANGLED', 'P', 'Q'])
pf_14.addGeninfo()
pf_14.addLoadinfo()

  ITER       DELTAP      BUS         DELTAQ      BUS        DELTA/V/      BUS       DELTAANG      BUS
   0         0.0000(      5     )    0.0000(      4     )
                                                             0.00000(      4     )   0.00000(      6     )
   1         0.0000(      5     )    0.0000(      5     )
                                                             0.00000(     10     )   0.00000(     12     )
   2         0.0000(      6     )    0.0000(      5     )


 Reached tolerance in 2 iterations

 Largest mismatch:     -0.00 MW      0.00 Mvar      0.00 MVA at bus 2 [BUS 2             ]
 System total absolute mismatch:                    0.00 MVA

 SWING BUS SUMMARY:
   BUS#-SCT X-- NAME --X BASKV      PGEN     PMAX    PMIN      QGEN     QMAX    QMIN
      1     BUS 1                  232.4    332.4     0.0     -16.5*    10.0     0.0

In [15]:
pf_14.dataframe

,BUS_ID,Bus,PU,ANGLED,Type,P,Q,P Gen,Q Gen,P Load,Q Load
0,1,BUS 1,1.060000,0.000000,3,2.323933e+02,-16.549339,232.393265,-16.549339,NaN,NaN
1,2,BUS 2,1.045000,-4.982592,2,1.829999e+01,30.857103,40.000000,43.557102,21.700001,12.700001
2,3,BUS 3,1.010000,-12.725105,2,-9.420000e+01,6.075377,0.000000,25.075377,94.199997,19.000000
3,4,BUS 4,1.017671,-10.312905,1,-4.780000e+01,3.899999,NaN,NaN,47.799999,-3.900000
4,5,BUS 5,1.019514,-8.773857,1,-7.599995e+00,-1.600000,NaN,NaN,7.600000,1.600000
5,6,BUS 6,1.070000,-14.220952,2,-1.120000e+01,5.231007,0.000000,12.731007,11.200000,7.500000
6,7,BUS 7,1.061520,-13.359633,1,0.000000e+00,0.000001,NaN,NaN,NaN,NaN
7,8,BUS 8,1.090000,-13.359632,2,6.938894e-16,17.623468,0.000000,17.623468,NaN,NaN
8,9,BUS 9,1.055932,-14.938527,1,-2.950000e+01,4.584844,NaN,NaN,29.499998,16.600000
9,10,BUS 10,1.050985,-15.097295,1,-9.000000e+00,-5.800000,NaN,NaN,9.000000,5.800000
10,11,BUS 11,1.056906,-14.790627,1,-3.500000e+00,-1.800000,NaN,NaN,3.500000,1.800000
11,12,BUS 12,1.055189,-15.075592,1,-6.100000e+00,-1.600000,NaN,NaN,6.100000,1.600000
12,13,BUS 13,1.050382,-15.156283,1,-1.350000e+01,-5.800000,NaN,NaN,13.500001,5.800000
13,14,BUS 14,1.035530,-16.033649,1,-1.490000e+01,-5.000000,NaN,NaN,14.899999,5.000000

In [34]:
a = pf_14.dataframe['P Gen'].to_list()
b = pf_14.dataframe['P Load'].to_list()
p = []
for i in range(len(a)):
    if b[i] != None:
        p.append(a[i] - b[i])
    else:
        p.append(None)

a = pf_14.dataframe['Q Gen'].to_list()
b = pf_14.dataframe['Q Load'].to_list()
q = []
for i in range(len(a)):
     if b[i] != None:
        q.append(a[i] - b[i])
pf_14.dataframe['P Check'] = p
pf_14.dataframe['q Check'] = q

In [28]:
a

[232.3932647705078,
 40.0,
 0.0,
 nan,
 nan,
 0.0,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [35]:
pf_14.dataframe

,BUS_ID,Bus,PU,ANGLED,Type,P,Q,P Gen,Q Gen,P Load,Q Load,P Check,q Check
0,1,BUS 1,1.060000,0.000000,3,2.323933e+02,-16.549339,232.393265,-16.549339,NaN,NaN,NaN,NaN
1,2,BUS 2,1.045000,-4.982592,2,1.829999e+01,30.857103,40.000000,43.557102,21.700001,12.700001,18.299999,30.857101
2,3,BUS 3,1.010000,-12.725105,2,-9.420000e+01,6.075377,0.000000,25.075377,94.199997,19.000000,-94.199997,6.075377
3,4,BUS 4,1.017671,-10.312905,1,-4.780000e+01,3.899999,NaN,NaN,47.799999,-3.900000,NaN,NaN
4,5,BUS 5,1.019514,-8.773857,1,-7.599995e+00,-1.600000,NaN,NaN,7.600000,1.600000,NaN,NaN
5,6,BUS 6,1.070000,-14.220952,2,-1.120000e+01,5.231007,0.000000,12.731007,11.200000,7.500000,-11.200000,5.231006
6,7,BUS 7,1.061520,-13.359633,1,0.000000e+00,0.000001,NaN,NaN,NaN,NaN,NaN,NaN
7,8,BUS 8,1.090000,-13.359632,2,6.938894e-16,17.623468,0.000000,17.623468,NaN,NaN,NaN,NaN
8,9,BUS 9,1.055932,-14.938527,1,-2.950000e+01,4.584844,NaN,NaN,29.499998,16.600000,NaN,NaN
9,10,BUS 10,1.050985,-15.097295,1,-9.000000e+00,-5.800000,NaN,NaN,9.000000,5.800000,NaN,NaN
10,11,BUS 11,1.056906,-14.790627,1,-3.500000e+00,-1.800000,NaN,NaN,3.500000,1.800000,NaN,NaN
11,12,BUS 12,1.055189,-15.075592,1,-6.100000e+00,-1.600000,NaN,NaN,6.100000,1.600000,NaN,NaN
12,13,BUS 13,1.050382,-15.156283,1,-1.350000e+01,-5.800000,NaN,NaN,13.500001,5.800000,NaN,NaN
13,14,BUS 14,1.035530,-16.033649,1,-1.490000e+01,-5.000000,NaN,NaN,14.899999,5.000000,NaN,NaN

In [17]:
# Read in case file 
pf = wg.Wec_grid(case14)
pf.run_powerflow('GS')

 Reading IC, SBASE, REV, XFRRAT, NXFRAT, BASFRQ...

 Converting RAW data from PSS(R)E 33 to PSS(R)E 34 format
 Starting processing of Case identification data records
 Finished processing of 3 records for Case identification data
 Starting processing of Bus data records
 Finished processing of 14 records for Bus data
 Starting processing of Load data records
 Finished processing of 11 records for Load data
 Starting processing of Fixed shunt data records
 Finished processing of 1 records for Fixed shunt data
 Starting processing of Generator data records
 Finished processing of 5 records for Generator data
 Starting processing of Branch data records
 Finished processing of 17 records for Branch data
 Finished processing of 0 records for System switching device data
 Starting processing of Transformer data records
 Finished processing of 12 records for 3 Transformer data
 Starting processing of Area data records
 Finished processing of 0 records for Area data
 Starting processing of Two-terminal dc data records
 Finished processing of 0 records for 0 Two-terminal dc data
 Starting processing of VSC dc line data records
 Finished processing of 0 records for 0 VSC dc line data
 Starting processing of Impedance correction data records
 Finished processing of 0 records for Impedance correction data
 Starting processing of Multi-terminal dc data records
 Finished processing of 0 records for 0 Multi-terminal dc data
 Starting processing of Multi-section line data records
 Finished processing of 0 records for Multi-section line data
 Starting processing of Zone data records
 Finished processing of 0 records for Zone data
 Starting processing of Inter-area transfer data records
 Finished processing of 0 records for Inter-area transfer data
 Starting processing of Owner data records
 Finished processing of 0 records for Owner data
 Starting processing of FACTS device data records
 Finished processing of 0 records for FACTS device data
 Starting processing of Switched shunt data records
 Finished processing of 0 records for Switched shunt data
 Starting processing of GNE data records
 Finished processing of 0 records for 0 GNE data
 Starting processing of Induction machine data records
 Finished processing of 0 records for Induction machine data

 Converting RAW data from PSS(R)E 34 to PSS(R)E 35 format
 Starting processing of Case identification data records
 Finished processing of 3 records for Case identification data
 Starting processing of System-wide data records
 Finished processing of 0 records for System-wide data
 Starting processing of Bus data records
 Finished processing of 14 records for Bus data
 Starting processing of Load data records
 Finished processing of 11 records for Load data
 Starting processing of Fixed shunt data records
 Finished processing of 1 records for Fixed shunt data
 Starting processing of Generator data records
 Finished processing of 5 records for Generator data
 Starting processing of Branch data records
 Finished processing of 17 records for Branch data
 Starting processing of System switching device data records
 Finished processing of 0 records for System switching device data
 Starting processing of Transformer data records
 Finished processing of 12 records for 3 Transformer data
 Starting processing of Area data records
 Finished processing of 0 records for Area data
 Starting processing of Two-terminal dc data records
 Finished processing of 0 records for 0 Two-terminal dc data
 Starting processing of VSC dc line data records
 Finished processing of 0 records for 0 VSC dc line data
 Starting processing of Impedance correction data records
 Finished processing of 0 records for Impedance correction data
 Starting processing of Multi-terminal dc data records
 Finished processing of 0 records for 0 Multi-terminal dc data
 Starting processing of Multi-section line data records
 Finished processing of 0 records for Multi-section line data
 Starting processing of Zone data records
 Finished processing of 0 records for Zone data
 Starting processing of Inter-area transfer data records
 Finished processing of 0 records for Inter-area transfer data
 Starting processing of Owner data records
 Finished processing of 0 records for Owner data
 Starting processing of FACTS device data records
 Finished processing of 0 records for FACTS device data
 Starting processing of Switched shunt data records
 Finished processing of 0 records for Switched shunt data
 Starting processing of GNE data records
 Finished processing of 0 records for 0 GNE data
 Starting processing of Induction machine data records
 Finished processing of 0 records for Induction machine data
 Starting processing of Substation data records
 Finished processing of 0 records for Substation data

 Reading current format RAW data file

 Reading IC, SBASE, REV, XFRRAT, NXFRAT, BASFRQ...

 Reading two line case heading...

 Reading system-wide data...

 Reading bus data...

 Reading load data...

 Reading fixed bus shunt data...

 Reading generator data...

 Reading non-transformer branch data...

 Reading system switching device data...

 Reading transformer data...

 Reading area interchange data...

 Reading two-terminal dc line data...

 Reading VSC dc line data...

 Reading transformer impedance correction data...

 Reading multi-terminal dc line data...

 Reading multi-section line data...

 Reading zone name data...

 Reading inter-area transfer data...

 Reading owner name data...

 Reading FACTS device data...

 Reading switched shunt data...

 Reading GNE device data...

 Reading induction machine data...

 Reading substation data...

 ITER DELTAV/TOL X----------- AT BUS -----------X  REAL(DELTAV)  IMAG(DELTAV)
    1    16.456       4     [BUS 4             ]   -0.1502E-02    0.6722E-03
    2     6.190      12     [BUS 12            ]    0.6187E-03    0.1850E-04
    3     6.356      12     [BUS 12            ]   -0.5512E-03    0.3164E-03
    4     3.399      12     [BUS 12            ]    0.2890E-03   -0.1791E-03
    5     1.886       4     [BUS 4             ]   -0.1663E-03    0.8883E-04
    6     1.201       5     [BUS 5             ]    0.8698E-04   -0.8283E-04
    7     0.639       4     [BUS 4             ]    0.5836E-04   -0.2613E-04

 Reached tolerance in 7 iterations

 Largest mismatch:     -0.05 MW      0.13 Mvar      0.14 MVA at bus 4 [BUS 4             ]
 System total absolute mismatch:                    0.41 MVA

 SWING BUS SUMMARY:
   BUS#-SCT X-- NAME --X BASKV      PGEN     PMAX    PMIN      QGEN     QMAX    QMIN
      1     BUS 1                  232.4    332.4     0.0     -16.6*    10.0     0.0

In [18]:
pf.get_values(['PU', 'ANGLED'])
pf.addGeninfo()
pf.addLoadinfo()

In [19]:
pf.dataframe

,BUS_ID,Bus,PU,ANGLED,Type,P Gen,Q Gen,P Load,Q Load
0,1,BUS 1,1.060000,0.000000,3,232.417419,-16.561186,NaN,NaN
1,2,BUS 2,1.044999,-4.983260,2,40.000000,43.548347,21.700001,12.700001
2,3,BUS 3,1.009986,-12.726642,2,0.000000,25.083118,94.199997,19.000000
3,4,BUS 4,1.017707,-10.314396,1,NaN,NaN,47.799999,-3.900000
4,5,BUS 5,1.019534,-8.774363,1,NaN,NaN,7.600000,1.600000
5,6,BUS 6,1.070007,-14.221138,2,0.000000,12.741573,11.200000,7.500000
6,7,BUS 7,1.061503,-13.358662,1,NaN,NaN,NaN,NaN
7,8,BUS 8,1.090000,-13.359230,2,0.000000,17.633598,NaN,NaN
8,9,BUS 9,1.055915,-14.938061,1,NaN,NaN,29.499998,16.600000
9,10,BUS 10,1.050966,-15.097625,1,NaN,NaN,9.000000,5.800000
10,11,BUS 11,1.056919,-14.790852,1,NaN,NaN,3.500000,1.800000
11,12,BUS 12,1.055169,-15.075268,1,NaN,NaN,6.100000,1.600000
12,13,BUS 13,1.050374,-15.156641,1,NaN,NaN,13.500001,5.800000
13,14,BUS 14,1.035531,-16.033787,1,NaN,NaN,14.899999,5.000000